{% extends 'base.html' %}

{% block page_title %}
    {{page_title}}
{% endblock page_title %}
    
    {% block contents %}
        <h1>LOGIN</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" id="username">
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    {% endblock contents %}
        