{% extends 'base.html' %}

{% block page_title %}
    {{products.name}}
{% endblock page_title %}

{% block contents %}
<div class="row">
    <div class="col-sm">
        <div class="box">
            <a class="btn btn-outline-dark" href="{% url 'store:store' %}">Continue Shopping</a>
        </div>
        <br>
        <img class="img-detail" src="{{products.imageURL}}">
    </div>
    <div class="col-md-6">
        <h5>{{products.name}}</h3>
        <h4><strong>Rp. {{products.price|floatformat:3}}</strong></h4>
        <br>
        <h6>Deskripsi Produk :</h6>
        <p>{{products.description}}</p>
    </div>
    <div class="col-sm">
        <button data-product={{products.id}} data-action="add" class="btn btn-success add-btn update-cart">Add to Cart</button>
    </div>
</div>
{% endblock contents %}
    
    